<article class="post">
    <div id="post-name">
        <a href="/post/{{id}}" class="links">{{title}}</a>
        <h3 class="post-subtitle" style="float:right">{{ post.subtitle }}</h3>{% endif %}
        <p class="post-meta">
            {{comment.length}}
            Posted by {{user.username}} | 
            {{ post.date | 
            date: "%B %-d, %Y"}}
            <div class="post_content">{{post.title}}</div>
        </p>
    </div>
</article>